.Logo {
    display: flex;
    justify-content: space-between; /* Separa os elementos da esquerda e direita */
    align-items: center; /* Centraliza verticalmente */
    margin-top: 110px;
    margin-left: 40px;
    margin-right: 40px; /* Adicionei para garantir que o espaço seja proporcional */
}
  
.Logo .img img {
    width: 250px;
    height: auto;
    max-width: 400px;
}
  
.Logo .info {
    font-size: 3rem;
    font-weight: bold;
    color: #333;
    margin-right: 20px;
}

.info p {
    font-size: 40px;
}

@media (max-width: 768px) {

.Logo img {
    width: 150px;
    height: auto;
    max-width: 400px;
    text-align: center;
    align-self: center;
}
.info {
    display: none;
}

h4{
    text-align: justify;
    font-size: 1.5em;
}
}