@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

:root {
  --font-primary: 'Roboto', sans-serif;
  --font-secondary: 'Open Sans', sans-serif;


  --color-green: #6a8f45;
  --color-gray: #363636;
}

body {
  font-family: var(--font-primary);
}

h1, h2, h3 {
  font-family: var(--font-secondary);
}


html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

